* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
  padding: 15px 2rem 4rem 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

ul li a {
  font-size: 16pt;
  text-decoration: none;
  color: black;
}

header > button {
  padding: 0.5rem 1rem;
  background-color: rgb(20, 122, 246);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
}

header > button a {
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 800px;
}

#content > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

#content > div:last-child {
  border-bottom: none;
}

#content > div img {
  width: 75px;
  height: 75px;
  margin-right: 2rem;
}
#content-products > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

#content-products > div:last-child {
  border-bottom: none;
}

.img-div {
  width: 10%;
}

.title-div {
  width: 40%;
}

.category-div {
  width: 30%;
  padding-left: 3rem;
}

.price-div {
  width: 20%;
  text-align: right;
}

#content-products > div img {
  width: 75px;
  height: 75px;
  margin-right: 2rem;
}
